* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

#header{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #F55A5A;
    color: white;
    width: 100vw;
    height: 15vh;
    margin: -8px 0px 0px -8px;
    font-weight: 500;
    font-family: Inter;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.075em;
    padding: 20px 20px 20px 20px;
}

.globe{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: 0px;
}

.header-text{
    display: inline-block;
    margin-top: 3px;
    margin-left: 5px;
}

.entry{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #F5F5F5;
}

.entry:first-child,
.entry:last-child{
    border-bottom: none;
    padding-bottom: 0px;
}

.text-container{
    padding: 0px 5px 5px 5px;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.entry-image{
    height: 168px;
    width: 126px;
    border-radius: 5px;
}

.pinpoint{
    margin-left: 2px;
}

.country{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 10px;
    font-weight: 400;
}

.google-maps-url{
    display: inline-block;
    vertical-align: middle;
    color: #918E9B;
    font-size: 10.24px;
    margin-left: 20px;
}

.date{
    font-weight: 700;
    font-size: 10.24px;
    line-height: 12px;
    color: #2B283A;
}

.title{
    margin-top: -20px;
    margin-bottom: 20px;
    font-weight: 700;
}

.description{
    font-weight: 400;
    font-size: 10.24px;
    line-height: 15px;
    color: #2B283A;
}